@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<select class="custom-select" @bind="@selected">
    <Enumerator Items="@components">
        <option value="@context.OptionName">@context.OptionName</option>
    </Enumerator>
</select>

@if (!string.IsNullOrWhiteSpace(selected))
{
    <ComponentView Type="SelectedType" Parameters="ComponentParameters" />
}


